.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
}

.nav-links {
    font-size: 2rem;
    color: rgb(3, 99, 209);
    display: 'inline-block';
    /* margin-left: 60px;
    margin-right: 60px; */
    
}

.nav-links-logo {
    font-size: 3rem;
    color: rgb(3, 99, 209);
    display: 'inline-block';
    font-style: oblique;

}