.main-footer {
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #EFEFEF;
  text-align: center;
  font-size: medium;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: white;
}

.creators {
    text-align: justify;
    margin-left: 20px;
}


